version: "3.8"

services:
  # Database(PostgreSQL)
  postgres:
    image: postgres:16
    container_name: diary-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: diarydb
    ports:
      - "5432:5432" # PostgreSQL port
    volumes:
      - ./data/db:/var/lib/postgresql/data
    restart: always
