spring:
  application:
    name: diary-backend

  datasource:  # spring 바로 아래가 아니라, 들여쓰기 2칸 필수!
    url: jdbc:postgresql://localhost:5432/diarydb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

