spring:
  application:
    name: diary-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require}
    username: ${SPRING_DATASOURCE_USERNAME:postgres.eensskjncsooyuxbfokm}

    password: ${SPRING_DATASOURCE_PASSWORD}

    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

ai:
  flux:
    base-url: ${AI_FLUX_URL:http://136.107.46.248:8000}

server:
  port: ${PORT:8080}
